---
import "../assets/app.css";
import BaseLayout from "../layout/BaseLayout.astro";
import dashboardImage from "../assets/images/dashboard.webp";
---

<BaseLayout>
	<div class="flex flex-col gap-6">
		<div class="flex flex-col gap-6 lg:flex-row">
			<div class="w-full h-full rounded-xl overflow-hidden">
				<img
					src={dashboardImage.src}
					alt="hero"
					class="w-full h-full object-cover"
				/>
			</div>
			<div class="hero flex flex-col gap-2">
				<div class="hero-content">
					<div class="w-full">
						<h1 class="text-3xl lg:text-4xl font-bold text-center lg:text-left">
							Bienvenido a Agyl Code
						</h1>
						<div class="divider my-1"></div>
						<p class="py-6 text-base-content text-lg lg:text-2xl text-center lg:text-left">
							Agyl Code es una empresa de desarrollo de software
							que se dedica a crear soluciones personalizadas para
							empresas y organizaciones de todo tipo.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-col gap-6 lg:flex-row">
			<div
				class="mockup-code bg-neutral max-w-md mx-auto w-full rounded-xl"
			>
				<pre data-prefix="$"><code>pnpm i agylcode</code></pre>
				<pre
					data-prefix=">"
					class="text-warning"><code>bienvenido a agylcode...</code></pre>
				<pre
					data-prefix=">"
					class="text-success"><code>instalando...</code></pre>
				<pre
					data-prefix=">"
					class="text-info"><code>cargando...</code></pre>
			</div>
		</div>
		<div class="flex flex-col gap-6 lg:flex-row">
			<div class="hero flex flex-col gap-2">
				<div class="hero-content">
					<div class="w-full">
						<h1 class="text-3xl lg:text-4xl font-bold text-center lg:text-left">
							Transformá tu negocio con nuestros servicios y
							productos
						</h1>
						<p class="py-6 text-base-content text-lg lg:text-xl text-justify lg:text-left">
							Ofrecemos una amplia gama de servicios y productos para
							satisfacer las necesidades de nuestros clientes.
							<ul class="list-disc list-inside">
								<li>
									Desarrollo de software
								</li>
								<li>
									Consultoría en tecnología
								</li>
								<li>
									Asesoría en marketing digital
								</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
